.button{
    color: #272626;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #272626;
}
.button:hover{
    background-color: #272626;
    color: white;
    border: 1px solid white;
}

/* for mobile responsive */
@media only screen and (max-width:767px){
    .button{
        font-size:11px;
    }
}