*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

@media only screen and (max-width:1024px){
    .container{
        max-width: 970px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:991px){
    .container{
        max-width: 785px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:767px) {
    .container{
        max-width: 685px;
        margin: 0 auto;
    }
}